{
  "rules": {
    "max-len": ["error", { "code": 100, "ignoreComments": true }],
    "comma-dangle": ["error", {
      "functions": "ignore"
    }],
    "no-underscore-dangle": 0,
    "class-methods-use-this": 0,
    "no-restricted-syntax": 0
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb-base"]
}
