{
  "rules": {
    max-len: [
      "error",
      {
        "code": 80,
        "ignoreComments": true
      }
    ],
    "comma-dangle": [
      "error",
      {
        "functions": "ignore"
      }
    ],
    "class-methods-use-this":0
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "extends": ["airbnb-base"]
}
